<!DOCTYPE html>
<HTML>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Homo!</title>
        <link rel="shortcut icon" href="./img/logo_small.ico" type="image/x-icon">

        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">

        <script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>

        <link rel="stylesheet" href="./css/styles.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/inter-ui/3.15.0/Inter (web)/inter.min.css">
    </head>

    <body>

        <div class="row auth-screen">
            
            <div class="col-1 col-sm-1 col-md-2 col-lg-2">
            </div>
            <div class="col-10 col-sm-10 col-md-3 col-lg-3 my-auto">
                
                <a class="navbar-brand login-navbar" href="/">
                    <img src="./img/logo.png" height="20"class="d-inline-block align-top" alt="">
                </a>

                <div>
                    <h4 class="mb-4 mt-1 login-title">Вітаємо в системі Хомо</h4>
                    <form>
                        <div class="form-group">
                            <label>Логін</label>
                            <input name="" class="form-control" placeholder="Введіть логін" type="email">
                        </div> <!-- form-group// -->
                        <div class="form-group">
                            <a class="float-right" href="#">Забули пароль?</a>
                            <label>Пароль</label>
                            <input class="form-control" placeholder="Введіть пароль" type="password">
                        </div> <!-- form-group// --> 
                        <div class="form-group"> 
                        <div class="checkbox">
                          <label> <input type="checkbox"> Запам'ятати пароль' </label>
                        </div> <!-- checkbox .// -->
                        </div> <!-- form-group// -->  
                        <div class="form-group">
                            <button type="submit" class="btn btn-primary btn-block"> Увійти </button>
                        </div> <!-- form-group// -->                                                           
                    </form>
                </div>

            </div>

            <div class="col-12 col-sm-12 col-md-2 col-lg-2"></div>

            <div class="col-12 col-sm-12 col-md-5 col-lg-5 w-50"></div>
        </div>


    </body
></HTML>
